<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batteryThreshold</key>
	<real>0.5</real>
	<key>batteryDeactivateOnThreshold</key>
	<false/>
	<key>batteryTurnOffOnSwitch</key>
	<false/>
	<key>durationType</key>
	<integer>0</integer>
	<key>appListDetail</key>
	<integer>1</integer>
	<key>hadFirstLaunch</key>
	<false/>
	<key>showAppList</key>
	<false/>
	<key>showUptime</key>
	<false/>
	<key>durationTimeout</key>
	<integer>3600</integer>
	<key>preventDisplaySleep</key>
	<true/>
	<key>shouldLaunchAtLogin</key>
	<true/>
	<key>shouldActivateOnLaunch</key>
	<true/>
	<key>sendNotifications</key>
	<false/>
	<key>stopAtForcedSleep</key>
	<false/>
	<key>quickActivation</key>
	<false/>
	<key>backgroundMonitoring</key>
	<false/>
	<key>durationEndAtTime</key>
	<string>20:00</string>
</dict>
</plist>
